body{
    background-color: lightgray;
    color: rgb(65, 65, 176);
    font-size: bold;
    
}
.custom-button-1 {

    background-image: url('../images/find_book.jpg');
    background-color: orange;
    /* Orange background color */
    background-blend-mode: multiply;
    background-position: center;
    background-size: 420px;
    border: none;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-1 span {
    background-color: blue;
    padding: 15px 30px;
    color: goldenrod;
    border-radius: 5px;
}

.custom-button-2 {

    background-image: url('../images/return_book.jpg');
    background-color: orange;
    /* Orange background color */
    background-blend-mode: multiply;
    background-position: center;
    background-size: 420px;
    border: none;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-2 span {
    background-color: purple;
    padding: 15px 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.custom-button-3 {

    background-image: url('../images/lost_book.jpg');
    background-color: orange;
    /* Orange background color */
    background-blend-mode: multiply;
    background-position: center;
    background-size: 420px;
    border: none;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-3 span {
    background-color: red;
    padding: 15px 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
footer{
    background-color: rgb(10, 10, 69);
    color: white;
    list-style: none; /*must come back here to fix*/
    display: flex;
    flex-wrap: wrap;
}
.custom-image {
    border: 5px solid #333; /* Border color and thickness */
    padding:10px; /* Optional: adds some space between the border and image */
    border-radius: 10px; /* Optional: makes corners slightly rounded */
    width: 100%; /* Ensures images are responsive */
}

.product_name{
    font-weight: bold;
}
