 <!-- Footer Section -->
  <br><br>
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Library Services</h4>
                <ul>
                    <li><a href="#">Buy Books</a></li>
                    <li><a href="#">Rent Books</a></li>
                    <li><a href="#">Return Books</a></li>
                    <li><a href="#">Lost Book Payment</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Support & Help</h4>
                <ul>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Lost Book Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">LogIn/Register</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Rental Status</a></li>
                    <li><a href="#">Payment History</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Library Events</a></li>
                    <li><a href="#">News & Updates</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <ul>
                    <a href="#"><i class = "fab fa-facebook-f"></i></a>
                    <a href="#"><i class = "fab fa-twitter"></i></a>
                    <a href="#"><i class = "fab fa-instagram"></i></a>
                    <a href="#"><i class = "fab fa-linkendin"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="js/bootstrap.bundle.js"></script>

</body>

</html>